<%= form_for @localfood do |f| %>
    <%= f.label :shop %>
    <%= f.text_field :shop, :size => 140 %> 
    <%= f.label :place %>
    <%= f.text_field :place, :size => 140 %> 
    <%= f.label :image, "画像" %>
    <%= f.file_field :image, accept: "image/*" ,size: 40 %>
    <%= f.label :price %>
    <%= f.text_field :price, :size => 140 %> 
    <h5>総合評価</h5>
        <div class="post_form">
            <%= f.radio_button :overall, 5 ,id: 'star1'%>
            <label for="star1"><span class="text">最高</span>★</label>

            <%= f.radio_button :overall, 4 ,id: 'star2'%>
            <label for="star2"><span class="text">良い</span>★</label>

            <%= f.radio_button :overall, 3 ,id: 'star3'%>
            <label for="star3"><span class="text">普通</span>★</label>

            <%= f.radio_button :overall, 2 ,id: 'star4'%>
            <label for="star4"><span class="text">悪い</span>★</label>

            <%= f.radio_button :overall, 1 ,id: 'star5'%>
            <label for="star5"><span class="text">最悪</span>★</label>
        </div>
    <%= f.submit "編集する" %>
<% end %>